* {
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

#header {
  height: 90px; 
  border-bottom: 1px solid #e6e6e6;
}

#btnLogin {
  float:right; 
  margin:35px; 
  font-size: 19px; 
  color:#333; 
  font-weight: 500;
}

img {
  float:left; 
  height: 50px; 
  margin:15px
}

#content {
  margin-top: 90px
}

/* p {
  text-align: center;
  color: red;
}

#styleById {
  text-align: center;
  color: green;
}

.styleByClass {
  text-align: center;
  color: purple;
}

p.styleByElementAndClass {
  text-align: center;
  color: orange;
}

h1, h2 {
  text-align: center;
  color:aqua;
}

* {
  text-align: center;
  color: blue;
}

code {
  background-color: rgb(56, 56, 56);
  color:rgb(0, 255, 0)
} */